<%# Avatar Shapes %>
<div class="flex gap-4">
  <%= render(DaisyComponents::DataDisplay::AvatarComponent.new(shape: :circle, size: 24, img_src: 'https://placehold.co/400x400/3B82F6/FFFFFF?text=A', img_alt: 'Avatar')) %>
  <%= render(DaisyComponents::DataDisplay::AvatarComponent.new(shape: :squircle, size: 24, img_src: 'https://placehold.co/400x400/3B82F6/FFFFFF?text=A', img_alt: 'Avatar')) %>
  <%= render(DaisyComponents::DataDisplay::AvatarComponent.new(shape: :hexagon, size: 24, img_src: 'https://placehold.co/400x400/3B82F6/FFFFFF?text=A', img_alt: 'Avatar')) %>
  <%= render(DaisyComponents::DataDisplay::AvatarComponent.new(shape: :triangle, size: 24, img_src: 'https://placehold.co/400x400/3B82F6/FFFFFF?text=A', img_alt: 'Avatar')) %>
</div> 