The goal of this project is to create a component library. 
The design system is providered by DaisyUI.
The Component Library is a Rails Engine.
It's build with TailwindCSS and DaisyUI, ViewComponent and Rails.


We take inspiration from the following projects:
https://github.com/primer/design
https://github.com/primer/view_components

This project use Lookbook for documentation 
https://github.com/lookbook-hq/lookbook
The preview are in the test/components/previews folder
The docs are in the test/components/docs folder

use Gemfile to manage dependencies no gemspec

Use Minitest and Fixtures for testing
Use Capybara for testing

Create SVG for icons

DONT delete documentation comments in the code, update them instead

Ruby Style Guide
Style/ClassAndModuleChildren

good:
```ruby
module DaisyComponents
  module Actions
    class SwapComponentTest < DaisyComponents::ComponentTestCase
    end
  end
end
```

bad:
```ruby
class DaisyComponents::Actions::SwapComponentTest < DaisyComponents::ComponentTestCase
end
```

Every component preview should have a playground method with all the parameters as options and the description as Lookbook description.