<%# @label Dropdown Behaviors %>
<%# @display height 300 %>

<div class="flex flex-wrap items-center justify-center gap-8 min-h-[300px]">
  <div class="flex flex-col items-center gap-2">
    <h3 class="text-lg font-medium">Hover Behavior</h3>
    <%= render(DaisyComponents::Actions::DropdownComponent.new(hover: true)) do %>
      <label tabindex="0" class="btn m-1">Hover me</label>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
      </ul>
    <% end %>
  </div>

  <div class="flex flex-col items-center gap-2">
    <h3 class="text-lg font-medium">Force Open</h3>
    <%= render(DaisyComponents::Actions::DropdownComponent.new(open: true)) do %>
      <label tabindex="0" class="btn m-1">Always Open</label>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
      </ul>
    <% end %>
  </div>
</div> 