<%# @label Dropdown Positions %>
<%# @display height 400 %>

<div class="flex flex-wrap items-center justify-center gap-4 min-h-[400px]">
  <% positions.each do |position| %>
    <%= render(DaisyComponents::Actions::DropdownComponent.new(position: position)) do %>
      <label tabindex="0" class="btn m-1">
        <%= position.titleize %>
      </label>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
      </ul>
    <% end %>
  <% end %>
</div> 