<%# @label Dropdown Positions %>
<%# @display height 400 %>

<div class="grid grid-cols-2 gap-4 md:grid-cols-4">
  <% positions.each do |position| %>
    <%= render(DaisyComponents::Actions::DropdownComponent.new(
      position: position,
      trigger: {
        text: position.titleize,
        icon: helpers.warning_icon("h-5 w-5"),
        variant: :primary
      },
      items: [
        { text: "Item 1", href: "#" },
        { text: "Item 2", href: "#" }
      ]
    )) %>
  <% end %>
</div> 