<%# @label Dropdown Sizes %>
<%# @display height 300 %>

<div class="flex flex-wrap items-center justify-center gap-4">
  <% sizes.each do |size| %>
    <%= render(DaisyComponents::Actions::DropdownComponent.new(
      size: size,
      trigger: { text: size.upcase },
      items: [
        { text: "Item 1", href: "#" },
        { text: "Item 2", href: "#" }
      ],
      class: 'mb-32'
    )) %>
  <% end %>
</div> 