<%= render DaisyUI::Stack.new(class: 'h-20 w-32') do %>
  <div class="bg-primary text-primary-content grid place-content-center rounded-box">1</div>
  <div class="bg-accent text-accent-content grid place-content-center rounded-box">2</div>
  <div class="bg-secondary text-secondary-content grid place-content-center rounded-box h-56">
    3
  </div>
<% end %>
