<%= render DaisyUI::Stack.new(class: 'h-20 w-32') do %>
  <div class="text-primary-content grid place-content-center rounded-box bg-primary">1</div>
  <div class=" text-accent-content grid place-content-center rounded-box bg-accent">2</div>
  <div class=" text-secondary-content grid place-content-center rounded-box bg-secondary">
    3
  </div>
<% end %>
