<%= render DaisyUI::Alert.new(
  text: 'we use cookies for no reason.',
  vertical: true,
  icon: info_icon
) do |component| %>
  <% component.with_actions do %>
    <div>
      <%= render DaisyUI::Button.new(text: "Deny", size: :sm) %>
      <%= render DaisyUI::Button.new(text: "Accept", size: :sm, color: :primary) %>
    </div>
  <% end %>
<% end %>
