<%= render DaisyUI::Alert.new(
  color: :info,
  title: 'New message!',
  description: 'You have 1 unread message',
  vertical: true
) do |component| %>
  <% component.with_actions do %>
    <button class="btn btn-sm">See</button>
  <% end %>
<% end %>
