<%= render(DaisyComponents::DataDisplay::CardComponent.new) do |component| %>
  <% component.with_title do %>
    Basic Card
  <% end %>
  <% component.with_body do %>
    <p>This is a basic card with default styling.</p>
  <% end %>
  <% component.with_actions do %>
    <button class="btn btn-primary">Action</button>
  <% end %>
<% end %> 