<%= render(DaisyComponents::DataDisplay::CardComponent.new(bordered: true)) do |component| %>
  <% component.with_body do |body| %>
    <% body.with_title do %>
      Bordered Card
    <% end %>
    <% body.with_description do %>
      <p>This card has a border around its edges.</p>
    <% end %>
    <% body.with_actions do |actions| %>
      <button class="btn btn-primary">Action</button>
    <% end %>
  <% end %>
<% end %> 
