<%= render(DaisyComponents::DataDisplay::CardComponent.new(compact: true)) do |component| %>
  <% component.with_body do |body| %>
    <% body.with_title do %>
      Compact Card
    <% end %>
    <% body.with_description do %>
      <p>This card uses less padding for a more compact and space-efficient layout.</p>
    <% end %>
    <% body.with_actions do |actions| %>
      <button class="btn btn-primary">Action</button>
    <% end %>
  <% end %>
<% end %> 