<div class="min-h-[400px] bg-primary flex items-center justify-center p-8">
  <%= render(DaisyComponents::DataDisplay::CardComponent.new(glass: true)) do |component| %>
    <% component.with_body do |body| %>
      <% body.with_title do %>
        Glass Card
      <% end %>
      <% body.with_description do %>
        <p>This card has a glass morphism effect that works best on colored backgrounds.</p>
      <% end %>
      <% body.with_actions do |actions| %>
        <button class="btn btn-primary">Action</button>
      <% end %>
    <% end %>
  <% end %>
</div> 