<%= render DaisyComponents::Actions::ButtonComponent.new(shape: :square) do %>
  <span class="loading loading-spinner"></span>
<% end %>

<%= render DaisyComponents::Actions::ButtonComponent.new do %>
  <span class="loading loading-spinner"></span> loading
<% end %> 