<%# @label Button Sizes %>
<%# @display height 200 %>

<div class="flex flex-wrap items-center gap-2">
  <% sizes.each do |size| %>
    <%= render DaisyComponents::Actions::ButtonComponent.new(
      text: size.upcase,
      size: size
    ) %>
  <% end %>
</div> 