<%# @label Button Sizes %>
<%# @display height 200 %>

<div class="flex flex-wrap gap-4 items-center">
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "XS", size: "xs") %>
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "SM", size: "sm") %>
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "MD", size: "md") %>
  <%= render DaisyComponents::Actions::ButtonComponent.new(text: "LG", size: "lg") %>
</div> 