<%# @label Button Variants %>
<%# @display height 200 %>

<div class="not-prose flex flex-wrap gap-2 p-4">
  <% variants.each do |variant| %>
    <%= render(DaisyComponents::Actions::ButtonComponent.new(variant: variant)) do %>
      <%= variant.titleize %>
    <% end %>
  <% end %>
</div> 