<div class="flex justify-center w-full">
  <%= render DaisyUI::Kbd.new(text: "▲") %>
</div>
<div class="flex justify-center gap-12 w-full">
  <%= render DaisyUI::Kbd.new(text: "◀︎") %>
  <%= render DaisyUI::Kbd.new(text: "▶︎") %>
</div>
<div class="flex justify-center w-full">
  <%= render DaisyUI::Kbd.new(text: "▼") %>
</div>
