<%= render DaisyUI::DataDisplay::CardComponent.new do |component| %>
  <%= component.with_body do |body| %>
    <%= body.with_description do %>
      <%= render DaisyUI::DataDisplay::BadgeComponent.new('Badge') %>
      <p>Text content</p>
      <% end %>
    <% end %>
  <% end %>
<% end %> 