<div class="flex flex-wrap gap-2">
  <%= render DaisyComponents::Actions::ButtonComponent.new(
    text: 'Inbox',
    icon_end: render(DaisyComponents::DataDisplay::BadgeComponent.new('99+', variant: 'secondary'))
  ) %>

  <%= render DaisyComponents::Actions::ButtonComponent.new(
    text: 'Notifications',
    variant: 'primary',
    icon_end: render(DaisyComponents::DataDisplay::BadgeComponent.new('8', variant: 'secondary'))
  ) %>
</div> 