<div class="flex flex-wrap gap-2">
  <%= render DaisyComponents::DataDisplay::BadgeComponent.new("Primary", variant: 'primary') %>
  <%= render DaisyComponents::DataDisplay::BadgeComponent.new("Secondary", variant: 'secondary') %>
  <%= render DaisyComponents::DataDisplay::BadgeComponent.new("Accent", variant: 'accent') %>
</div> 