<%= render(DaisyComponents::DataDisplay::AccordionComponent.new) do |component| %>
  <% component.with_item(title: 'List Example') do %>
    <ul class="list-disc list-inside">
      <li>First item</li>
      <li>Second item</li>
      <li>Third item</li>
    </ul>
  <% end %>
<% end %> 
